.square-img {
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  object-fit: cover;
}

.two-line-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  height: 48px;
}
